@import '../colors.scss';

.movieList {
  padding: 18px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    .card {
      margin: 18px;

    }
  }
}