@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: $text-color--primary;

	* {
		box-sizing: border-box;
		overflow: visible;
		float: none;
		padding: 0;
		margin: 0;
	}
}

#root {
	min-height: 100%;
	background-color: $color-gray--light;
}